.togglerContainer{
  display: flex;
}
.togglerContainer>.togglerItem:first-child{
  border-radius: 5px 0 0 5px;
}
.togglerContainer>.togglerItem:last-child{
  border-radius: 0 5px 5px 0;
}
.togglerItem{
  padding: 5px 20px;
  box-sizing: border-box;
  background: #eee;
  border: none;
}
.togglerItem.active{
  background: #ffcc00;
}

.file-uploader {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  margin-top: 40px;
}

.file-uploader input {
  display: none;
}

.file-uploader img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}