.App {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #000000;
}

.controller {
  display: flex;
  justify-content: space-evenly;
}

.controller button {
  padding: 13px;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.todolist {
  padding: 13px;
}

.todolist li {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 13px;
}

.todolist li.active{
  background: green;
}